<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Advice.me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="chartAdviceMe.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="loadButton.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="loadingButton.css" type="text/css">
</head>
<body>
  <div class="wrapper">
	{{>headerUnregistered}}
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <h1 id="home">Most Commented Genres</h1>
      <div id="piechart"></div>

      <h1 id="trending">Trending Now</h1>
      <div class="box">
        {{#trending}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/trending}}	
	  </div>
	 
	  <div id="moreFilmsTrending"></div>
      <button id='btnTrending' class='btnSubmit'>More Films</button>
      <div id="loaderTrending" class="lds-dual-ring hidden overlay"></div>
      
      <h1 id="action">Action</h1>
      <div class="box">
        {{#action}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/action}}             
      </div>
      
      <div id="moreFilmsAction"></div>
      <button id='btnAction' class='btnSubmit'>More Films</button>
      <div id="loaderAction" class="lds-dual-ring hidden overlay"></div>

      <h1 id="adventure">Adventure</h1>
      <div class="box">
        {{#adventure}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/adventure}}                  
      </div>

      <div id="moreFilmsAdventure"></div>
      <button id='btnAdventure' class='btnSubmit'>More Films</button>
      <div id="loaderAdventure" class="lds-dual-ring hidden overlay"></div>
      
      <h1 id="animation">Animation</h1>
      <div class="box">
        {{#animation}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/animation}}                  
      </div>

      <div id="moreFilmsAnimation"></div>
      <button id='btnAnimation' class='btnSubmit'>More Films</button>
      <div id="loaderAnimation" class="lds-dual-ring hidden overlay"></div>

      <h1 id="comedy">Comedy</h1>
      <div class="box">
        {{#comedy}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/comedy}}                  
      </div>

      <div id="moreFilmsComedy"></div>
      <button id='btnComedy' class='btnSubmit'>More Films</button>
      <div id="loaderComedy" class="lds-dual-ring hidden overlay"></div>

      <h1 id="drama">Drama</h1>
      <div class="box">
        {{#drama}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/drama}}              
      </div>

      <div id="moreFilmsDrama"></div>
      <button id='btnDrama' class='btnSubmit'>More Films</button>
      <div id="loaderDrama" class="lds-dual-ring hidden overlay"></div>

      <h1 id="horror">Horror</h1>
      <div class="box">
        {{#horror}}
      	  <a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/horror}}                  
      </div>

      <div id="moreFilmsHorror"></div>
      <button id='btnHorror' class='btnSubmit'>More Films</button>
      <div id="loaderHorror" class="lds-dual-ring hidden overlay"></div>

      <h1 id="scienceFiction">Science Fiction</h1>
      <div class="box">
        {{#scifi}}
      		<a href="/filmUnregistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/scifi}}                  
      </div>
      
      <div id="moreFilmsScifi"></div>
      <button id='btnScifi' class='btnSubmit'>More Films</button>
      <div id="loaderScifi" class="lds-dual-ring hidden overlay"></div>
    </section> 
    <!-- END OF MAIN CONTAINER -->
  </div>
</body>
</html>