<header>
	<div class="AdviceMeLogo">
		<a id="logo" href="/menuRegistered#home"><img src="/Images/AdviceMe Logo.png" alt="Logo Image"></a>
	</div>
	<nav id="navPrincipal" class="main-nav">
		<a href="/menuRegistered#home">Home</a>
		<a href="/menuRegistered#action">Action</a>
		<a href="/menuRegistered#adventure">Adventure</a>
		<a href="/menuRegistered#comedy">Comedy</a>
		<a href="/menuRegistered#drama">Drama</a>
		<a href="/menuRegistered#horror">Horror</a>
		<a href="/menuRegistered#scienceFiction">Science Fiction</a>
	</nav>
	<nav class="sub-nav">
		<form action="/searchFilms">
        	<input type="text" name="query" placeholder="Search...">
        	<button type="submit">
        		<i class="fas fa-search sub-nav-logo"></i>
        	</button>
        	{{#user}}
				<a href="/profile/{{id}}">Account</a>
			{{/user}}
        </form>
	</nav>
</header>